

<ion-header class="mi-footer" style=" height: 60px;">
  <table   style="margin-left: 10px;">
    <tr>
      <th>
        <ion-back-button style="color: black;" title="Return" (click)="goBack()" >
        </ion-back-button>
      </th>
      <th> 
        <h3 id="h3Center" style="margin-right: 30px; margin-left: 50px;color: rgb(204, 202, 202);" [routerLink]="['/home']" >IA COBRANZA</h3>
      </th>
      <th>
        <ion-img src="assets/img/info.png" [routerLink]="['/about']" style="width: 23px;" ></ion-img>
      </th>
      <th >
        <ion-img src="assets/img/comentarios.png" [routerLink]="['/contact']" style="width: 25px;"></ion-img>
      </th>
      <th >
        <ion-img src="assets/img/userNegro.png" [routerLink]="['/profile']" style="width: 25px;"></ion-img>
      </th>
    </tr>
  </table>
</ion-header>



<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
  
      
  <div id="label"><br>
    <ion-label>
      IA COBRANZA es una aplicación móvil diseñada para ayudar a los emprendedores y pequeñas empresas a gestionar de manera efectiva y fácil las ventas y cobros de sus productos. Nuestra herramienta te permite ofrecer tus productos a tus clientes y recibir pagos de manera segura y cómoda a través de diferentes opciones de abonos. Además, nuestra característica de notificaciones automáticas a través de WhatsApp te ayuda a mantener a tus clientes informados sobre el estado de sus pagos y a enviarles recordatorios de pago, lo que te permite ahorrar tiempo y esfuerzo. <br><br>

      Una de las principales ventajas de IA COBRANZA es que te permite manejar todas tus ventas y abonos en un solo lugar, lo que simplifica la gestión de tus finanzas y te ayuda a tener un control más preciso de tus ingresos. Además, con nuestra herramienta de notificaciones automáticas a través de WhatsApp, puedes comunicarte de manera efectiva con tus clientes y asegurarte de que estén informados sobre el estado de sus pagos. <br><br>
      
      Otra ventaja de IA COBRANZA es que es fácil de usar y está diseñada para adaptarse a las necesidades de los emprendedores y pequeñas empresas. Nuestra interfaz de usuario es intuitiva y fácil de navegar, lo que te permite gestionar tus ventas y abonos de manera eficiente sin necesidad de ser un experto en finanzas. <br><br>
      
      IA COBRANZA es una herramienta útil y efectiva para los emprendedores y pequeñas empresas que buscan gestionar sus ventas y abonos de manera fácil y segura. Con nuestra aplicación, puedes ofrecer tus productos a tus clientes, recibir pagos de manera cómoda y enviar notificaciones automáticas a través de WhatsApp para mantener a tus clientes informados sobre el estado de sus pagos. ¡Descarga IA COBRANZA hoy y descubre cómo puede ayudarte a mejorar tus ventas y cobros!
   </ion-label>
   <br><br>
    </div>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>

<ion-footer class="mi-footer" style="height: 60px;">
  <h6 style="margin-left: 15px;color: rgb(204, 202, 202);">Copyright IACOBRANZA</h6>
</ion-footer>


